<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hrrm</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="pure-min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div class="content pure-g-r">
        <div class="header pure-u-1">
            <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                <a class="pure-menu-heading" href="">...hrrm...</a>
            </div>
        </div>

        <div class="splash pure-u-1">
            <div class="pure-g-r">
                <div class="pure-u-1">
                    <div class="l-box splash-text">
                        <h1 class="splash-head">
                            What's next?
                        </h1>

                        <h2 class="splash-subhead">
                            Hrrm (pronounced "herm") is a time-management tool that arranges your schedule for you, so you don't have to. Just
                            give it a list of your obligations and how long you expect
                            they'll take, and hrrm will do the rest.
                        </h2>

                        <p>
                            <a href="#" class="pure-button primary-button">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer pure-u-1">
            Built with love, care, and good intentions by Avi
        </div>
    </div>
  </body>
</html>
